.SignUp input {
  display: block;
  width: 300px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.SignUp form {
  width: 300px;
  margin: 0 auto;
}